/* Estilos para el cuerpo de la página */
html {
    background-image: url('/images/wallpaper.gif');
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para el contenedor principal */
.desktop-app {
    width: 80%;
    margin: 50px auto;
    background-color: #0e1217;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1{
    color: #f5f7fa;
}

h3{
    color: #f5f7fa;
}

h2{
    color: #f5f7fa;
}

p{
    color: #f5f7fa;
}

/* Estilos para la sección de perfil */
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 5%;
    height: 5%;
    border-radius: 25%;
    margin-right: 20px;
}

.profile-info h1 {
    margin: 0;
    font-size: 24px;
}

.profile-info p {
    margin: 0;
    font-size: 18px;
    color: gray;
}

/* Estilos para el menú */
.menu {
    display: flex;
    justify-content:left; /* Centra los botones horizontalmente */
    align-items: center; /* Centra los botones verticalmente */
    background-color: #334659;
    padding: 10px;
}

.menu button {
    color: #f5f7fa;
    background-color: transparent; /* Fondo transparente para los botones */
    border: none; /* Sin bordes para un estilo más limpio */
    font-size: 16px;
    margin: 0 10px; /* Establece un margen mínimo entre los botones */
    padding: 10px 15px; /* Añade un poco de padding para hacer más grandes los botones */
    border-radius: 5px; /* Redondea ligeramente las esquinas de los botones */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu button:hover {
    background-color: #506682; /* Cambia el color de fondo al pasar el ratón sobre un botón */
    color: #ffffff; /* Cambia el color del texto al pasar el ratón sobre el botón */
}

/* Estilos para el contenido */
.content {
    background-color: #3a526a;
    padding: 20px;
    border-radius: 5px;
    flex: 1;
}

/* Proyectos */

.project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #2e3c4c;
    border-radius: 5px;
}

.project-item:hover {    
    background-color: #334659;
}

.project-image-wrapper {
    flex: 1;
    margin-right: 10px; /* Reducimos el margen derecho para acercar la imagen al texto */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px; /* Limitamos el ancho máximo de la imagen */
}

.project-image {
    width: 100%;
    height: auto;
    max-height: 100px; /* Añadimos una altura máxima para uniformidad */
    object-fit: contain; /* Asegura que la imagen mantenga su relación de aspecto */
    border-radius: 5px;
}

.project-details {
    flex: 2;
    text-align: left;
    color: #f5f7fa;
}

.project-details h3 {
    color: #f5f7fa;
    margin-bottom: 10px;
}

.project-details p {
    color: #eaeef4;
    margin-bottom: 10px;
}

.project-details a {
    color: #a9bdd0;
    text-decoration: none;
    font-weight: bold;
}

.project-details a:hover {
    text-decoration: underline;
}

/* Gama de colores definida */
.bunker-50 { background-color: #f5f7fa; }
.bunker-100 { background-color: #eaeef4; }
.bunker-200 { background-color: #d1dce6; }
.bunker-300 { background-color: #a9bdd0; }
.bunker-400 { background-color: #7b9ab5; }
.bunker-500 { background-color: #5a7e9d; }
.bunker-600 { background-color: #476582; }
.bunker-700 { background-color: #3a526a; }
.bunker-800 { background-color: #334659; }
.bunker-900 { background-color: #2e3c4c; }
.bunker-950 { background-color: #0e1217; }

footer {
    padding: 10px 30px;
    text-align: right;
}

/* Estilo para el selector de idioma */

.language-selector {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
}