/* Estilos para el cuerpo de la página */
body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para el contenedor principal */
.desktop-app {
    width: 80%;
    margin: 50px auto;
    background-color: #0e1217;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1{
    color: #f5f7fa;
}

/* Estilos para la sección de perfil */
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info h1 {
    margin: 0;
    font-size: 24px;
}

.profile-info p {
    margin: 0;
    font-size: 18px;
    color: gray;
}

/* Estilos para el menú */
.menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.menu button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #45a049;
}

/* Estilos para el contenido */
.content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

/* Gama de colores definida */
.bunker-50 { background-color: #f5f7fa; }
.bunker-100 { background-color: #eaeef4; }
.bunker-200 { background-color: #d1dce6; }
.bunker-300 { background-color: #a9bdd0; }
.bunker-400 { background-color: #7b9ab5; }
.bunker-500 { background-color: #5a7e9d; }
.bunker-600 { background-color: #476582; }
.bunker-700 { background-color: #3a526a; }
.bunker-800 { background-color: #334659; }
.bunker-900 { background-color: #2e3c4c; }
.bunker-950 { background-color: #0e1217; }
